NEXT_PUBLIC_CHROME_EXTENSION_URL=https://chromewebstore.google.com/detail/gkobmjeklkiepibofnghbkcjiphjacfm
NEXT_PUBLIC_EDGE_EXTENSION_URL=https://chromewebstore.google.com/detail/gkobmjeklkiepibofnghbkcjiphjacfm
NEXT_PUBLIC_FIREFOX_EXTENSION_URL=https://addons.mozilla.org/en-US/firefox/addon/headeroverride
